<nav class="comic-panel sticky top-0 z-50 bg-[#39275B] p-4 flex justify-between items-center" 
     style="background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'4\' height=\'4\'%3E%3Ccircle cx=\'2\' cy=\'2\' r=\'1\' fill=\'%234a2f6f\'/%3E%3C/svg%3E');">
    <div class="flex items-center gap-4">
        <a href="#" class="logo-link">
        <img 
            src="clickable_logo.png" 
            class="nav-logo w-19 h-20"
        >
        </a>

        <div class="hidden md:flex space-x-1">
            <div class="w-3 h-3 bg-orange-500 rounded-full"></div>
            <div class="w-3 h-3 bg-red-500 rounded-full"></div>
            <div class="w-3 h-3 bg-blue-500 rounded-full"></div>
            <div class="w-3 h-3 bg-green-500 rounded-full"></div>
        </div>
    </div>
    <div class="flex gap-4">
        <button onclick="showSection('map')" class="comic-button">PLAZA</button>
        <button onclick="showSection('buildings')" class="comic-button">BUILDINGS</button>
        <button onclick="showSection('resources')" class="comic-button">RESOURCES</button>
        <!-- <button onclick="showSection('tips')" class="comic-button">TIPS</button> -->
        <button onclick="showSection('socials')" class="comic-button">UwT SOCIALS</button>
        <button onclick="showSection('about')" class="comic-button">ABOUT US</button>
        <button onclick="showSection('faq')" class="comic-button">FAQ</button>
    </div>
</nav>